@charset "UTF-8";
/* CSS Document */

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
  "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
  "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .8px;
  word-break: break-all;
  color: #333;
}


a {
  text-decoration: none;
  color: #1ca9e3;
}

ul,
li {
  list-style: none;
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
		display: block !important;
}
.sp {
		display: none !important;
}


.hover-action {
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.hover-action:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translate(0, -4px);
  transform: translate(0, -4px);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
}




/*--------------------------------
 グローバルナビ
---------------------------------*/
.gnav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gnav-item {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  padding: 0 24px;
  letter-spacing: .05em;
}

.gnav-link {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: .3s;
  transition: .3s;
  color: #333;
}

.gnav-link:hover {
  opacity: 1;
}

.gnav-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.gnav-link:hover:after {
  width: 100%;
}

/* iOS対策 */
.ios .gnav-link:after,
.ios .gnav-link:hover:after {
  display: none;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86vh;
}

.logo {
  position: relative;
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
}

.logo-title {
  font-family: "Open sans", sans-serif;
  font-size: 64px;
  line-height: 1;
  letter-spacing: .2em;
}

.logo-subtitle {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  letter-spacing: .2em;
}

.imginu{
	width: 20%;
}

.imgtori{
	width: 8%;	
	margin: 0px 90%;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 文字
---------------------------------*/
.heading-primary {
  font-family: "Open sans", sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: .05em;
}

.section-heading {
  margin-bottom: 20px;
  text-align: center;
}

.section-lead {
  margin-bottom: 30px;
  text-align: center;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  flex: 0 0 32.31552%;
  margin-right: 1.52671%;
  margin-bottom: 40px;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-body {
  text-align: center;
}

.works-title {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-text {
  font-size: 10px;
}

.works-url {
  font-size: 10px;
}

.works-image.fadein {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

.works-image.fadein.lazyloaded {
  opacity: 1;
}

/*media Queries 750
----------------------------------------------------*/
@media screen and (max-width: 750px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

.pc {
				display: none !important;
		}
.sp {
				display: block !important;
		}
	
 /* 文字 */

  .heading-primary {
    font-size: 22px;
  }

  .section-heading {
    margin-bottom: 20px;
  }
	
  /* Works */
  .works-body {
    text-align: left;
  }

  .works-title {
    font-size: 10px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }
	
	
}
